<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <handlers>
                <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
            </handlers>
        <aspNetCore
            startupTimeLimit="3600"
            processPath=".\dummy-app.exe"
            stdoutLogEnabled="false"
            stdoutLogFile=".\logs\stdout"
            hostingModel="inprocess" />
        </system.webServer>
    </location>

    <system.webServer>
        <!-- Warmup URLs -->
        <applicationInitialization doAppInitAfterRestart="true" skipManagedModules="true">
            <add initializationPage="/?param=value01" hostName="apptst1.azurewebsites.net" />
            <add initializationPage="/?param=value02" hostName="apptst1.azurewebsites.net" />
            <add initializationPage="/?param=value03" hostName="apptst1.azurewebsites.net" />
            <add initializationPage="/?param=value04" hostName="apptst1.azurewebsites.net" />
            <add initializationPage="/?param=value05" hostName="apptst1.azurewebsites.net" />
            <add initializationPage="/?param=value06" hostName="apptst1.azurewebsites.net" />
            <add initializationPage="/?param=value07" hostName="apptst1.azurewebsites.net" />
            <add initializationPage="/?param=value08" hostName="apptst1.azurewebsites.net" />
            <add initializationPage="/?param=value09" hostName="apptst1.azurewebsites.net" />
            <add initializationPage="/?param=value10" hostName="apptst1.azurewebsites.net" />
            <add initializationPage="/?param=value11" hostName="apptst1.azurewebsites.net" />
            <add initializationPage="/?param=value12" hostName="apptst1.azurewebsites.net" />
            <add initializationPage="/?param=value13" hostName="apptst1.azurewebsites.net" />
            <add initializationPage="/?param=value14" hostName="apptst1.azurewebsites.net" />
            <add initializationPage="/?param=value15" hostName="apptst1.azurewebsites.net" />
            <add initializationPage="/?param=value16" hostName="apptst1.azurewebsites.net" />
            <add initializationPage="/?param=value17" hostName="apptst1.azurewebsites.net" />
            <add initializationPage="/?param=value18" hostName="apptst1.azurewebsites.net" />
            <add initializationPage="/?param=value19" hostName="apptst1.azurewebsites.net" />
            <add initializationPage="/?param=value20" hostName="apptst1.azurewebsites.net" />
            
            <add initializationPage="/?param=value01" hostName="apptst1-qa.azurewebsites.net" />
            <add initializationPage="/?param=value02" hostName="apptst1-qa.azurewebsites.net" />
            <add initializationPage="/?param=value03" hostName="apptst1-qa.azurewebsites.net" />
            <add initializationPage="/?param=value04" hostName="apptst1-qa.azurewebsites.net" />
            <add initializationPage="/?param=value05" hostName="apptst1-qa.azurewebsites.net" />
            <add initializationPage="/?param=value06" hostName="apptst1-qa.azurewebsites.net" />
            <add initializationPage="/?param=value07" hostName="apptst1-qa.azurewebsites.net" />
            <add initializationPage="/?param=value08" hostName="apptst1-qa.azurewebsites.net" />
            <add initializationPage="/?param=value09" hostName="apptst1-qa.azurewebsites.net" />
            <add initializationPage="/?param=value10" hostName="apptst1-qa.azurewebsites.net" />
            <add initializationPage="/?param=value11" hostName="apptst1-qa.azurewebsites.net" />
            <add initializationPage="/?param=value12" hostName="apptst1-qa.azurewebsites.net" />
            <add initializationPage="/?param=value13" hostName="apptst1-qa.azurewebsites.net" />
            <add initializationPage="/?param=value14" hostName="apptst1-qa.azurewebsites.net" />
            <add initializationPage="/?param=value15" hostName="apptst1-qa.azurewebsites.net" />
            <add initializationPage="/?param=value16" hostName="apptst1-qa.azurewebsites.net" />
            <add initializationPage="/?param=value17" hostName="apptst1-qa.azurewebsites.net" />
            <add initializationPage="/?param=value18" hostName="apptst1-qa.azurewebsites.net" />
            <add initializationPage="/?param=value19" hostName="apptst1-qa.azurewebsites.net" />
            <add initializationPage="/?param=value20" hostName="apptst1-qa.azurewebsites.net" />
        </applicationInitialization>

        <!-- HTTPS redirect for external URLs only -->
        <rewrite>
            <rules>
                <rule name="No redirect on warmup request (request from localhost with warmup user agent)"
                stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="localhost" />
                        <add input="{HTTP_USER_AGENT}" pattern="Initialization" />
                    </conditions>
                    <action type="Rewrite" url="{URL}" />
                </rule>
                <rule name="HTTP to HTTPS redirect for all requests" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>