<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <handlers>
                <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
            </handlers>
        <aspNetCore
            startupTimeLimit="3600"
            processPath=".\dummy-app.exe"
            stdoutLogEnabled="false"
            stdoutLogFile=".\logs\stdout"
            hostingModel="inprocess" />
        </system.webServer>
    </location>

    <system.webServer>
        <!-- HTTPS redirect for external URLs only -->
        <rewrite>
            <rules>
                <rule name="No redirect on warmup request (request from localhost with warmup user agent)"
                stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="localhost" />
                        <add input="{HTTP_USER_AGENT}" pattern="Initialization" />
                    </conditions>
                    <action type="Rewrite" url="{URL}" />
                </rule>
                <rule name="HTTP to HTTPS redirect for all requests" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>